<!DOCTYPE html>
<html>
  <head>
    <title>OpenAI FastAPI Example</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="{{ url_for('static', path='main.css') }}" />
  </head>
  <body>
    <h1><a href="/">OpenAI FastAPI Example</a></h1>
    <h2>Chat Completions API Example</h2>
    <p><code>context.txt</code>の情報を元に一問一答の回答を生成します。</p>
    <form action="/completions" method="post">
      <input
        type="text"
        name="prompt"
        placeholder="エンジニアカフェに関する質問を入力してください"
        autocomplete="off"
        required
      />
      <input type="submit" value="送信" />
    </form>
    {% if message %}
    <p class="message">{{ message }}</p>
    {% endif %}
    <h2>Images API Example</h2>
    <p>細部まで緻密に描かれた高品質なアイコン画像を生成します。</p>
    <form action="/images" method="post">
      <input
        type="text"
        name="prompt"
        placeholder="画像のお題を入力してください。"
        autocomplete="off"
        required
      />
      <input type="submit" value="送信" />
    </form>
    {% if image_prompt %}
    <p class="message">「{{ image_prompt }}」に関する画像を生成しました。</p>
    {% endif %} {% if image_url %}
    <img src="{{ image_url }}" alt="Generated Image" />
    {% endif %}
    <h2>Image Captioning</h2>
    <p>画像に写っている標識やラベルをJSONフォーマットで回答します。</p>
    <form
      action="/image-captioning"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="image" accept="image/*" required />
      <input type="submit" value="送信" />
    </form>
    {% if image_caption %}
    <p class="message">{{ image_caption }}</p>
    {% endif %}
  </body>
</html>
